<div id="page-wrapper" class="col-lg-10">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dashboard
                    <small>Statistics Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div id="page-wrapper">
            <div class="graphs">

                <div class="col_3">
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box center-block">
                            <a href="dashboard.html"> <i class="fa fa-flask "></i> </a>
                            <div class="stats">
                                <a href="dashboard.html"><h3>Chemistry <span>Department</span></h3></a>
                                <div class="grow grow1">
                                    <a href="dashboard.html"><p>Welcome </p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <a href="dashboard.html"> <i class="fa fa-connectdevelop"></i></a>
                            <div class="stats">
                                <a href="dashboard.html"><h3>Mathamatics<span>Department</span></h3></a>
                                <div class="grow grow1">
                                    <a href="dashboard.html"><p>Welcome </p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <a href="dashboard.html"> <i class="fa fa-bomb "></i></a>
                            <div class="stats">
                                <a href="dashboard.html"><h3> Nuclear Science <span>Department</span></h3></a>
                                <div class="grow grow1">
                                    <a href="dashboard.html"><p>Welcome </p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget">
                        <div class="r3_counter_box">
                            <a href="dashboard.html"> <i class="fa fa-cogs"></i></a>
                            <div class="stats">
                                <a href="dashboard.html"><h3> Physics <span>Department</span></h3></a>
                                <div class="grow grow1">
                                    <a href="dashboard.html"><p>Welcome </p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <br><br>
                <div class="col_3">
                    <div class="col-md-1 widget widget1"></div>

                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <a href="dashboard.html"> <i class="fa fa-leaf"></i></a>
                            <div class="stats">
                                <a href="dashboard.html"><h3> Plant Sciences <span>Department</span></h3></a>
                                <div class="grow grow1">
                                    <a href="dashboard.html"><p>Welcome </p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <a href="dashboard.html"> <i class="fa fa-object-group"></i></a>
                            <div class="stats">
                                <a href="dashboard.html"><h3> Statistics <span>Department</span></h3></a>
                                <div class="grow grow1">
                                    <a href="dashboard.html"><p>Welcome </p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <a href="dashboard.html"> <i class="fa fa-themeisle"></i></a>
                            <div class="stats">
                                <a href="dashboard.html"><h3> Zoology <span>Department</span></h3></a>
                                <div class="grow grow1">
                                    <a href="dashboard.html"><p>Welcome </p></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <br>
                <hr>
                <div class="col_3">
                    <div class="col-md-4 widget widget1"></div>
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="fa fa-user-secret" style="color: red"></i>
                            <div class="stats">
                                <h2>Master Settings <br><span>Add New Materials </span></h2>
                                <div class="grow grow3">
                                    <a href="master_data.html"><p>Super Admin</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->