<div id="page-wrapper" class="col-lg-10" style="background-color: #6a6a6a">

    <div style="border-radius: 8px;border: 2px solid #aea2cc;padding: 2px;margin: 2px;margin-top: 15px;background-color: #ffffff">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <br/>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i> Master Data
                        </li>
                        <li class="active">
                            <i class="fa fa-bank"></i> Course Payment
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb">
                        <div class="breadcrumb">
                            <div class="tab-content">
                                <div class="tab-pane active" id="horizontal-form">
                                    <form role="form">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="department" class="col-sm-3 control-label">Department</label>
                                                    <div class="col-sm-4">
                                                        <select chosen options="departmentList" id="department" ng-disabled="editMode"
                                                                class="form-control1"
                                                                ng-model="coursePayment.department"
                                                                ng-options="obj as obj.name for obj in departmentList">
                                                            <option value="">--Please Select--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="course" class="col-sm-3 control-label">Course</label>
                                                    <div class="col-sm-4">
                                                        <select chosen options="courseList" id="course" ng-disabled="editMode" class="form-control1"
                                                                ng-model="coursePayment.course"
                                                                ng-options="obj as obj.name for obj in courseList">
                                                            <option value="">--Please Select--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="amount" class="col-sm-3 control-label">Amount</label>
                                                    <div class="col-sm-8">
                                                        <input id="amount" type="text" class="form-control" ng-model="coursePayment.amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="description"
                                                           class="col-sm-3 control-label">Description</label>
                                                    <div class="col-sm-8">
                                <textarea cols="60" rows="6" id="description" type="text"
                                          ng-model="coursePayment.description"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="#" class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-4">
                                                        <button type="submit" ng-show="!editMode"
                                                                class="btn btn-success" ng-click="add()">
                                                            {{'GENERAL.ACTION.SAVE' | translate}}
                                                        </button>
                                                        <button type="submit" ng-show="editMode" class="btn btn-success"
                                                                ng-click="update()">
                                                            {{'GENERAL.ACTION.UPDATE' | translate}}
                                                        </button>
                                                        <button type="reset" class="btn btn-warning"
                                                                ng-click="reset()">
                                                            {{'GENERAL.ACTION.RESET' | translate}}
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>


                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <table class="generalTable">
                        <thead>
                        <tr>
                            <th>Department</th>
                            <th>Course</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="cp in coursePaymentList">
                            <td style="text-align: left;width: 15%;">{{cp.department.name}}</td>
                            <td style="text-align: left;width: 15%;">{{cp.course.name}}</td>
                            <td style="text-align: right;width: 10%;">{{cp.amount | number:2}}</td>
                            <td style="text-align: left;width: 50%;">{{cp.description}}</td>
                            <td style="text-align: center;width: 5%;">
                                <button type="submit" class="btn btn-primary btn-sm" ng-click="edit(c)">
                                    {{'GENERAL.ACTION.EDIT' | translate}}
                                </button>
                            </td>
                            <td style="text-align: center;width: 5%;">
                                <button type="submit" class="btn btn-danger btn-sm"
                                        ng-click="delete(c.id)">{{'GENERAL.ACTION.DELETE' | translate}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <uib-pagination ng-change="pageChanged()" total-items="totalItems" items-per-page="itemsPerPage"
                                    ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                                    boundary-link-numbers="true"></uib-pagination>
                </div>
            </div>

            <br/>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
<!-- /#page-wrapper -->