<div id="page-wrapper" class="col-lg-10" style="background-color: #6a6a6a">

    <div style="border-radius: 8px;border: 2px solid #aea2cc;padding: 2px;margin: 2px;margin-top: 15px;background-color: #ffffff">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <br/>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i> Master Data
                        </li>
                        <li class="active">
                            <i class="fa fa-bank"></i> Student Details
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb">
                        <div class="breadcrumb">
                            <div class="tab-content">
                                <div class="tab-pane active" id="horizontal-form">
                                    <form class="form-horizontal">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="code" class="col-sm-3 control-label">Student
                                                        Code</label>
                                                    <div class="col-sm-4">
                                                        <input  id="code" type="text" ng-disabled="editMode"
                                                               class="form-control"
                                                               ng-model="student.code">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="#" class="col-sm-3 control-label">Title</label>
                                                    <div class="col-sm-6">
                                                        <div class="radio-inline"><label><input name="title"
                                                                                                ng-model="student.title"
                                                                                                value="Mr" type="radio">Mr</label>
                                                        </div>
                                                        <div class="radio-inline"><label><input name="title"
                                                                                                ng-model="student.title"
                                                                                                value="Miss"
                                                                                                type="radio">Miss</label>
                                                        </div>
                                                        <div class="radio-inline "><label><input name="title"
                                                                                                 ng-model="student.title"
                                                                                                 value="Mrs"
                                                                                                 type="radio">Mrs</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="fullName" class="col-sm-3 control-label">Full
                                                        Name</label>
                                                    <div class="col-sm-9">
                                                        <input id="fullName" type="text" class="form-control"
                                                               ng-model="student.fullName">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="p-address"
                                                           class="col-sm-3 control-label">Permanent Address</label>
                                                    <div class="col-sm-9">
                                                        <input id="p-address" type="text" class="form-control"
                                                               ng-model="student.permenantAddtess">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="c-address"
                                                           class="col-sm-3 control-label">Contact Address</label>
                                                    <div class="col-sm-9">
                                                        <input id="c-address" type="text" class="form-control"
                                                               ng-model="student.contactAddress">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="phoneNo"
                                                           class="col-sm-3 control-label">Phone</label>
                                                    <div class="col-sm-4">
                                                        <input id="phoneNo" type="text" class="form-control"
                                                               ng-model="student.contactNumber">
                                                    </div>
                                                    <label for="faxNo"
                                                           class="col-sm-2 control-label">Fax</label>
                                                    <div class="col-sm-3">
                                                        <input id="faxNo" type="text" class="form-control"
                                                               ng-model="student.faxNumber">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="email"
                                                           class="col-sm-3 control-label">E-mail</label>
                                                    <div class="col-sm-9">
                                                        <input id="email" type="email" class="form-control"
                                                               ng-model="student.email">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="dob" class="col-sm-3 control-label">Date of
                                                        Birth</label>
                                                    <div class="col-sm-4">
                                                        <input id="dob" type="date"
                                                               class="form-control"
                                                               ng-model="student.dateOfBirth">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="#" class="col-sm-3 control-label">Gender</label>
                                                    <div class="col-sm-6">
                                                        <div class="radio-inline"><label><input name="gender" ng-model="student.gender"
                                                                                                value="M"
                                                                                                type="radio">Male</label>
                                                        </div>
                                                        <div class="radio-inline"><label><input name="gender" ng-model="student.gender"
                                                                                                value="F"
                                                                                                type="radio">Female</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="nic"
                                                           class="col-sm-3 control-label">NIC No</label>
                                                    <div class="col-sm-4">
                                                        <input id="nic" type="text" class="form-control"
                                                               ng-model="student.nic">
                                                    </div>
                                                    <label for="citizenship"
                                                           class="col-sm-2 control-label">Citizenship</label>
                                                    <div class="col-sm-3">
                                                        <input id="citizenship" type="text" class="form-control"
                                                               ng-model="student.citizenship">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="designation"
                                                           class="col-sm-3 control-label">Current Designation</label>
                                                    <div class="col-sm-9">
                                                        <input id="designation" type="text" class="form-control"
                                                               ng-model="student.designation">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="duties"
                                                           class="col-sm-3 control-label">Nature of Employment</label>
                                                    <div class="col-sm-9">
                                                        <input id="duties" type="text" class="form-control"
                                                               ng-model="student.duties">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="o-address"
                                                           class="col-sm-3 control-label">Office Address</label>
                                                    <div class="col-sm-9">
                                                        <input id="o-address" type="text" class="form-control"
                                                               ng-model="student.officeAddress">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="officeContactNumber"
                                                           class="col-sm-3 control-label">Phone</label>
                                                    <div class="col-sm-4">
                                                        <input id="officeContactNumber" type="text"
                                                               class="form-control"
                                                               ng-model="student.officeContactNumber">
                                                    </div>
                                                    <label for="officeFaxNumber"
                                                           class="col-sm-2 control-label">Fax</label>
                                                    <div class="col-sm-3">
                                                        <input id="officeFaxNumber" type="text" class="form-control"
                                                               ng-model="student.officeFaxNumber">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="officeEmail"
                                                           class="col-sm-3 control-label">E-mail</label>
                                                    <div class="col-sm-9">
                                                        <input id="officeEmail" type="email" class="form-control"
                                                               ng-model="student.officeEmail">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="#" class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-4">
                                                        <button type="submit" ng-show="!editMode"
                                                                class="btn btn-success" ng-click="add()">
                                                            {{'GENERAL.ACTION.SAVE' | translate}}
                                                        </button>
                                                        <button type="submit" ng-show="editMode" class="btn btn-success"
                                                                ng-click="update()">
                                                            {{'GENERAL.ACTION.UPDATE' | translate}}
                                                        </button>
                                                        <button type="reset" class="btn btn-warning"
                                                                ng-click="reset()">
                                                            {{'GENERAL.ACTION.RESET' | translate}}
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <table class="generalTable">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Full Name</th>
                            <th>Address</th>
                            <th>Contact No</th>
                            <th>Fax No</th>
                            <th>Email</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="e in studentList">
                            <td style="text-align: left;width: 10%;">{{e.code}}</td>
                            <td style="text-align: left;width: 15%;">{{e.fullName}}</td>
                            <td style="text-align: left;width: 35%;">{{e.contactAddress}}</td>
                            <td style="text-align: left;width: 15%;">{{e.contactNumber}}</td>
                            <td style="text-align: left;width: 15%;">{{e.faxNumber}}</td>
                            <td style="text-align: left;width: 35%;">{{e.email}}</td>
                            <td style="text-align: center;width: 5%;">
                                <button type="submit" class="btn btn-primary btn-sm" ng-click="edit(e)">
                                    {{'GENERAL.ACTION.EDIT' | translate}}
                                </button>
                            </td>
                            <td style="text-align: center;width: 5%;">
                                <button type="submit" class="btn btn-danger btn-sm"
                                        ng-click="delete(e.id)">{{'GENERAL.ACTION.DELETE' | translate}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <uib-pagination ng-change="pageChanged()" total-items="totalItems" items-per-page="itemsPerPage"
                                    ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                                    boundary-link-numbers="true"></uib-pagination>
                </div>
            </div>

            <br/>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
<!-- /#page-wrapper -->