<div class="modal-header">
    <h3 class="modal-title">{{element[1]}}&nbsp;Payment</h3>
</div>
<div class="modal-body">
    <div class="tab-pane active" id="horizontal-form">
        <form role="form">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Student</label>
                        <div class="col-sm-4">
                            {{selectedStudent.title}}&nbsp;{{selectedStudent.fullName}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Amount</label>
                        <div class="col-sm-4">
                            {{element[3] | number : 2}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="code" class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-4">
                            <input ng-disabled="editMode" id="code" type="date"
                                   class="form-control" value="{{paymentObj.paymentDate}}"
                                   ng-model="paymentObj.paymentDate"/>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="description"
                               class="col-sm-3 control-label">Reference</label>
                        <div class="col-sm-8">
                                                        <textarea cols="60" rows="6" id="description" type="text"
                                                                  ng-model="paymentObj.reference"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Make Payment</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
</div>