<div id="page-wrapper" class="col-lg-10" style="background-color: #6a6a6a">

    <div style="border-radius: 8px;border: 2px solid #aea2cc;padding: 2px;margin: 2px;margin-top: 15px;background-color: #ffffff">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <br/>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-money"></i> Transactions
                        </li>
                        <li class="active">
                            <i class="fa fa-paypal"></i> Course Payments
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb">
                        <div class="breadcrumb">
                            <div class="tab-content">
                                <div class="tab-pane active" id="horizontal-form">
                                    <form role="form">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label for="studentList" class="col-sm-3 control-label">Department</label>
                                                    <div class="col-sm-4">
                                                        <select chosen options="studentList" id="studentList" ng-disabled="editMode" class="form-control1"
                                                                ng-model="coursePayment.course"
                                                                ng-options="obj as obj.code + ' - ' + obj.fullName+ ' - [' + obj.nic +']' for obj in studentList">
                                                            <option value="">--Please Select--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <table class="generalTable">
                        <thead>
                        <tr>
                            <th>Course Id</th>
                            <th>Course Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="row">1</td>
                            <td>biochemistry</td>
                            <td>
                                <button type="submit" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target=".bs-example-modal-lg"> Update
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <br/>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
<!-- /#page-wrapper -->